.header {
  display: flex;
  align-items: flex-end;
  column-gap: var(--spacing-small);
  flex-wrap: wrap;

  line-height: 1;

  padding: var(--spacing-standard);
}

.title {
  font-size: var(--font-size-title);
}
